<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Tiendamia\Challenge\Api\BestOfferCalculatorInterface" type="Tiendamia\Challenge\Model\Offer\BestOfferCalculator" />
    <preference for="Tiendamia\Challenge\Api\Data\OfferInterface" type="Tiendamia\Challenge\Model\Offer\Offer" />
    <preference for="Tiendamia\Challenge\Api\Data\SellerInterface" type="Tiendamia\Challenge\Model\Seller\Seller" />
    <type name="Magento\Catalog\Api\Data\ProductInterface">
        <plugin name="best_price_offer_selection" type="Tiendamia\Challenge\Plugin\Catalog\Product\Product" sortOrder="1" disabled="false"/>
    </type>
    <type name="Magento\Quote\Model\Quote\Item\ToOrderItem">
        <plugin name="quote_item_to_order_item_converter" type="Tiendamia\Challenge\Plugin\Quote\Item\ConvertToOrderItem" sortOrder="1" disabled="false"/>
    </type>
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="daily_report_command" xsi:type="object">Tiendamia\Challenge\Console\Command\DailyReportCommand</item>
            </argument>
        </arguments>
    </type>
</config>
